@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
    place-content: center center;
    font-size: 1em;
    background-color: rgb(16, 35, 85);
    font-family: 'Silkscreen', sans-serif;
}

h2 {
    color: white;
}

.juego {
    width: 100%;
}

.tablas {
    display: flex;
    justify-content: space-around;
    gap: 10%;
}


.jugador,
.CPU {
    display: grid;
    justify-content: center;
    background-color: #9e1c23;
    min-width: 300px;
    padding: 1%;
    border: solid black 4px;
}

.encabezado {
    text-align: center;
    height: 30px;
    width: 100%;
    
}

.gridJugador,
.gridCpu {
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 1fr));
    place-content: center;
    gap: 7px;
    margin-bottom: 5px;
}


.cuadroNumero {
    background-color: white;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 5px;
    display: flex;
    gap: 10px;

}

.numeroAparecido{
    background-color: #062974;
    color: white;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}

#boton {
    display: flex;
    place-content: center center;
    font-size: 20px;
    align-items: center;
    align-content: center;
    border: solid black 1px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white, grey);
    cursor: pointer;
}

.numerosAparecidos {
    margin-top: 50px;
    border: solid white 1px;
    border-radius: 2%;
    min-height: 400px;
    width: 800px;
}

.gridSalidas {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(15, minmax(40px, 1fr));
    place-content: center;
    gap: 5px;
}



#boton :hover {
    display: flex;
    place-content: center center;
    align-items: center;
    align-content: center;
    border: solid black 1px;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white, orange);
}